node-red/misuratore1.json
[{"id":"483d6799.d40948","type":"mqtt in","z":"553f32ad.967a2c","name":"misure generale","topic":"contaspara/misuratori/generale/misure","qos":"2","broker":"64ec80e6.681e5","x":133,"y":214,"wires":[["fdeedb1b.5c62e8","8295d814.8914b8"]]},{"id":"fdeedb1b.5c62e8","type":"debug","z":"553f32ad.967a2c","name":"","active":true,"console":"false","complete":"false","x":371,"y":55,"wires":[]},{"id":"a1cc588d.51b188","type":"mqtt in","z":"553f32ad.967a2c","name":"misure servizi","topic":"contaspara/misuratori/servizi/misure","qos":"2","broker":"64ec80e6.681e5","x":130,"y":137,"wires":[["fdeedb1b.5c62e8"]]},{"id":"8295d814.8914b8","type":"json","z":"553f32ad.967a2c","name":"","pretty":false,"x":330,"y":242,"wires":[["d01d2a4e.676b98"]]},{"id":"a1bfef83.9a7dd","type":"ui_gauge","z":"553f32ad.967a2c","name":"","group":"b95a46ff.14bfb8","order":0,"width":"4","height":"4","gtype":"gage","title":"Tensione","label":"Volts","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"x":641,"y":277,"wires":[]},{"id":"d01d2a4e.676b98","type":"function","z":"553f32ad.967a2c","name":"","func":"var msg1 = { payload:msg.payload.tens };\nvar msg2 = { payload:msg.payload.curr };\nvar msg3 = { payload:msg.payload.apower };var msg4 = { payload:\"only message from output 2\" };\nreturn [  msg1, msg2, msg3  ];","outputs":"3","noerr":0,"x":467,"y":291,"wires":[["a1bfef83.9a7dd"],["187af21d.d399be"],["2f62ddee.627912","261bc311.3db21c"]]},{"id":"187af21d.d399be","type":"ui_gauge","z":"553f32ad.967a2c","name":"","group":"b95a46ff.14bfb8","order":0,"width":"4","height":"4","gtype":"gage","title":"Corrente","label":"A","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"x":641,"y":312,"wires":[]},{"id":"2f62ddee.627912","type":"ui_gauge","z":"553f32ad.967a2c","name":"","group":"b95a46ff.14bfb8","order":0,"width":"4","height":"4","gtype":"gage","title":"Potenza","label":"W","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"x":647,"y":353,"wires":[]},{"id":"261bc311.3db21c","type":"ui_chart","z":"553f32ad.967a2c","name":"","group":"b95a46ff.14bfb8","order":0,"width":0,"height":0,"label":"Potenza","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":645,"y":390,"wires":[[],[]]},{"id":"64ec80e6.681e5","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b95a46ff.14bfb8","type":"ui_group","z":"","name":"Generale","tab":"425aedb2.14b094","order":1,"disp":true,"width":"12"},{"id":"425aedb2.14b094","type":"ui_tab","z":"","name":"Misuratori","icon":"dashboard","order":2}]

